# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório do ambiente
.env

# Diretórios de dependências
node_modules/
jspm_packages/

# Diretórios de build
dist/
build/

# Diretórios de cache
*.cache
.npm
.yarn
.pnp
.pnp.js

# Editor de configuração
.vscode/
.idea/

# Sistema operacional ou arquivos específicos do IDE
.DS_Store
Thumbs.db

# Test output
/coverage

# Arquivos de lock
package-lock.json
yarn.lock

# Outros
*.bak
*.tmp

# Ignore TypeScript cache
*.tsbuildinfo